<B>PANDAS</B><BR> Pandas is powerful data analysis toolkit. read and writing data structures with different format. We able to handle misssing data atructure.

In [2]:
import pandas as pd

In [3]:
#Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.
#Series is similar to python list but series have additional functionality, methods, and operators, because of these series is advanced than a list.


list_1 = [1, 2, -3, 4.5, 'indian']
series1 = pd.Series(list_1)
print(series1)

0         1
1         2
2        -3
3       4.5
4    indian
dtype: object

In [4]:
pd.__version__

'2.2.2'

In [5]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [7]:
#create series by dictionary.
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

In [8]:
series2[0:4]

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [9]:
max(series2)

5.0

In [10]:
series2[series2>3] #Value in series greater than 3.

d    4.0
e    5.0
dtype: float64

In [11]:
series2.drop(4) #Remove 4th index value.

KeyError: '[4] not found in axis'

In [ ]:
series2

In [ ]:
#Python data frame is two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes(rows & columns).
#Create dataframe
lst = ['a', 'b', 'c']   # First creating a list.
df1 = pd.DataFrame(lst)    # Creating dataframe from above list
print(df1)

In [ ]:
ls_of_ls = [[1,2,3], [2,3,4], [4,5,6]]   # Creating list of list
df2 = pd.DataFrame(ls_of_ls)   # Creating dataframe form above list of list
df2

In [ ]:
#A CSV is a comma separated values file which allows to store data in tabular format. That data includes numbers and text in plain text form.
#CSV is an extension of any file or spreadsheet . csv stand for comma seperatd value.
import pandas as pd
df = pd.read_csv(r'C:\Users\Dell\Downloads\Top-10-IT-Companies-in-India.csv',skiprows = 1 )#or write skiprows = [0]
df

In [ ]:
df.columns #know the colmns.

In [ ]:
import os

In [ ]:
print(os.getcwd()) #path in which you are work.

In [ ]:
df = pd.read_csv(r'C:\Users\Dell\Downloads\Top-10-IT-Companies-in-India.csv',header =1  )#provided header

In [ ]:
df

In [ ]:
df = pd.read_csv(r'C:\Users\Dell\Downloads\Top-10-IT-Companies-in-India.csv',nrows = 9)#for getting one rows.
df

In [ ]:
df.head() #by default return the top 5 rows.

In [ ]:
df.tail(7)

In [31]:
df = pd.read_csv(r'C:\Users\Dell\Downloads\Top-10-IT-Companies-in-India.csv')#,dtype = {'id': 'float64'})#for change the datatype.
df

  Top 10 IT Companies in India
0                          TCS
1                      Infosys
2                Tech Mahindra
3                        Wipro
4             HCL Technologies
5                 L&T Infotech
6                     Mindtree
7                      Mphasis
8    Oracle Financial Services
9                  Rotla India

##Handling the Missing Values.

In [ ]:
df = pd.read_csv(r'C:\Users\Dell\Downloads\Top-10-IT-Companies-in-India.csv')#,na_values = 'not available'#for check not available value.
df

In [ ]:
df.isnull() #check the null value

In [ ]:
df.isnull().sum() #check total null value column wise.

In [ ]:
df.notnull().sum() #Check the not null values.

In [ ]:
df.dropna()#remove that row which consist null values. if you pass axis =1 remove nul value column.

In [ ]:
df.dropna(inplace = True)#It help to droping the nul value and update it.
df

In [ ]:
df.fillna(0)#fill zero  where null value present
df.fillna({'Name': 'none', 'Profit' : 0})#fill none in name column where null value are present.

In [ ]:
#df.fillna(method = 'ffill', axis = 0)#fill previous value where null value present row wise becz axis  =0

In [ ]:
df.replace(to_replace = 'TCS' , value  = 'Finan') #replace tcs value into finan.

In [ ]:
df.replace(2,12)

In [ ]:
#interpolate funcn is used to fill nan vales.

In [ ]:
df.interpolate() #guess and fill te value i the missing values..

In [ ]:
df.loc[[0,1]] #return 0 an 1 row.

In [ ]:
#df.loc[[df['Class']<11] #return Class column value less than 11.

In [ ]:
#iloc  - integer locztion - based indexing. loc ma acess karte ha by the help of labels.
# Iloc is used  accces colmn by number

In [29]:
df.iloc[[1]] #aces the element

NameError: name 'df' is not defined

In [ ]:
#groupby is used to split the data into group based into some criteria.
#any groupby operation involve following operations -  split the object, apply a result,

In [37]:
#Selecting a group
 
# A single group can be selected using get_group():
 
#gr3 = df.groupby('Class').get_group(10)
#It select the Class from the dataframe where classs value s 10.

In [39]:
# Applying a function into group
#gr1.sum()

In [41]:
#df1.append(df2, ignore_index = True) add df2 into df1.

In [43]:
#pd.merge(df1,df2,on = 'ID', how = 'inner') on consist common olumn so we're abe to merge.

In [47]:
df1 = pd.DataFrame({'ID': [1,2,3,4],
                  'Name': ['A', 'B', 'C','D'],
                  'Class': [5,6,7,8]})
df2 = pd.DataFrame({'ID': [5,6,7,8],
                  'Name': ['E', 'F', 'G', 'H'],
                  'Class': [9,10,11,12]})
	
pd.concat([df1, df2], axis = 1,  keys = ['First df','Second df'])

  First df            Second df
        ID Name Class        ID Name Class
0        1    A     5         5    E     9
1        2    B     6         6    F    10
2        3    C     7         7    G    11
3        4    D     8         8    H    12